.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: white;
  color: #4b4c4d;
  padding: 10px 15px; 
  flex-wrap: wrap; 

  /* Left section styles */
  .left-section {
    font-size: 1.2rem; 
    flex: 1; 
  }

  /* Center section styles for search bar */
  .center-section {
    flex: 2; 
    display: flex; 
    justify-content: center; 
    margin: 5px 0; 

    .search-bar {
      display: flex;
      align-items: center;
      border: 1px solid #ccc; 
      border-radius: 4px; 
      overflow: hidden; 

      input[type="text"] {
        border: none; 
        padding: 6px; 
        width: 100%; 
        max-width: 300px; 
        outline: none; 
      }

      .search-btn {
        background-color: var(--sidebar-bg);
        border: none; 
        color: white; 
        padding: 6px 10px; 
        cursor: pointer; 
        transition: background-color 0.3s; 

        &:hover {
          background-color: rgb(172, 170, 170); 
        }

        i {
          font-size: 14px; 
        }
      }
    }
  }

  /* Right section styles */
  .right-section {
    display: flex;
    align-items: center;

    /* Icon and text style for message and notification */
    .icon-text {
      display: flex;
      align-items: center;
      margin-right: 15px; 
      font-size: 0.9rem; 

      i {
        margin-right: 5px; 
        font-size: 1.2rem; 
      }
    }

    /* User thumbnail and name styles */
    .user-profile {
      display: flex;
      align-items: center;
      margin-right: 15px; 

      img {
        width: 35px; 
        border-radius: 50%;
        margin-right: 10px;
      }

      .username {
        font-weight: var(--font-weight-bold);
        font-size: 0.9rem; 
      }
    }
  }

  /* Responsive behavior for smaller screens */
  @media (max-width: 768px) {
    flex-direction: column; 
    align-items: flex-start;

    .left-section {
      font-size: 1rem; 
      margin-bottom: 5px;
    }

    .center-section {
      margin: 5px 0; 
    }

    .right-section {
      width: 100%; 
      justify-content: space-between; 
      margin-top: 5px;

      .icon-text, .user-profile {
        margin-right: 10px; 
      }
    }
  }
}
