<div class="side-nav" [ngClass]="{'collapsed': isCollapsed}">
  <!-- Collapse Button -->
  <button class="toggle-btn" (click)="toggleSidebar()">
    <i [ngClass]="{'fa-arrow-right': isCollapsed, 'fa-arrow-left': !isCollapsed}" class="fas"></i>
  </button>

  <!-- User Thumbnail and Name (Show only if not collapsed) -->
  <div class="profile-section" *ngIf="!isCollapsed">
    <img src="../assets/thumbnail/pic.jpg" alt="User Thumbnail" class="thumbnail">
    <span class="username">John Doe</span>
  </div>

  <!-- Navigation Menu -->
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-desktop"></i>
        <span *ngIf="!isCollapsed">Elements</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-th"></i>
        <span *ngIf="!isCollapsed">Widgets</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-bars"></i>
        <span *ngIf="!isCollapsed">Forms</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-table"></i>
        <span *ngIf="!isCollapsed">Tables</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-file"></i>
        <span *ngIf="!isCollapsed">Charts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-columns"></i>
        <span *ngIf="!isCollapsed">Pages</span>
      </a>
    </li>
  </ul>
</div>
