:host {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  height: 100%;
}

.card-header {
  background-color: var(--sidebar-bg); /* Adjust color to match the image */
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.card-body {
  flex-grow: 1; /* Allow the body to grow and take up available space */
  overflow-y: auto; /* Only allow vertical scrolling if content overflows */
  padding: 0; /* Add padding for better spacing */
  
}

.list-group {
  margin: 0;
  padding: 0;
}

.list-group-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white; /* Set background for the message items */
  border-bottom: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;

  /* Add hover effect */
  &:hover {
    background-color: #f1f1f1;
  }

  /* Image styling */
  .thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; /* Spacing between image and text */
  }

   /* Message content */
   .message-content {
    display: flex;
    flex-direction: column;
  }

  /* Message text */
  strong {
    font-size: 0.80rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 2px;
  }
  span {
    font-size: 0.85rem;
    color: #555;
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .card-header {
    font-size: 1rem;
    padding: 8px;
  }

  .list-group-item {
    padding: 8px;

    .thumbnail {
      width: 30px;
      height: 30px;
    }

    strong {
      font-size: 0.9rem;
    }

    span {
      font-size: 0.6rem;
    }
  }
}
