:host {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-header {
  background-color: var(--sidebar-bg);
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.card-body {
  flex-grow: 1; 
  overflow: hidden; 
  padding: 0; 
}

.table {
  width: 100%; 
  margin: 0; 
  border-collapse: collapse;
  table-layout: fixed; 
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 0.875rem;
  vertical-align: middle; // Center text vertical
}

thead {
  background-color: #f1f1f1; 
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f9f9f9; //Hover effect on rows 
}

@media (max-width: 768px) {
  /* Responsive design: padding and font size */
  th, td {
    height: 50px;
  text-align: center;
  border: 1px solid #dee2e6;
  }
  tbody tr td {
    vertical-align: middle; 
  }
  .card-header {
    font-size: 1rem;
    padding: 8px;
  }
}
